
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.label :name %>
   <%= f.text_field :name, :autofocus => true, :placeholder => "Name", :"data-required" => "true", :"data-notblank" => "true" %><br /></div><br />

  <div><%= f.label :email %>
  <%= f.email_field :email, :placeholder => 'jdoe@example.com', :"data-required" => "true", :"data-notblank" => "true", :"data-type" => "email" %><br /></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password, :placeholder => 'min. 6 characters', :"data-required" => "true", :"data-notblank" => "true", :"data-minlength" => "6" %><br /></div><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :"data-required" => "true", :"data-equalto" => "#user_password", :"data-equalto-message" => 'The password confirmation should match the password' %><br /></div><br />

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
